body {
  background: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#clock {
  margin-top: 3em;
  display: inline-block;
}

.time {
  font-weight: 700;
  font-size: 12em;
}

.finish {
  font-weight: 500;
  font-size: 6em;
  color: #ccc;
}

.flash .time {
  color: #f00;
}
